DATABASE_URL="mysql://root:password@localhost:3306/tiktok_live_automation"
NEXT_PUBLIC_SOCKET_URL="http://localhost:7050"
NEXT_PUBLIC_WIDGET_BASE_URL="http://localhost:7050"
TIKTOK_RECONNECT_MAX_ATTEMPTS="0"
TIKTOK_RECONNECT_MAX_DELAY_MS="30000"
